@import '../../bower_components/foundation/scss/foundation';
// @import "foundation/components/grid";
// @import "foundation/components/icon-bar";

$include-html-icon-bar-classes: $include-html-classes;

// We use these to style the icon-bar and items
// $icon-bar-bg: $oil;
// $icon-bar-font-color: $white;
// $icon-bar-font-color-hover: $icon-bar-font-color;
// $icon-bar-font-size: 1rem;
// $icon-bar-hover-color: $primary-color;
// $icon-bar-icon-color: $white;
// $icon-bar-icon-color-hover: $icon-bar-icon-color;
// $icon-bar-icon-size: 1.875rem;
// $icon-bar-image-width: 1.875rem;
// $icon-bar-image-height: 1.875rem;
// $icon-bar-active-color: $primary-color;
// $icon-bar-item-padding: 1.25rem;
// $icon-bar-disabled-opacity: 0.7;

body {
  background-color: #FCFCFC;
}



.icon-bar {
  background-color: #FFF;
  height: 65px;
}

.background-section {
  background-image: url('https://eatstreet.com/redesign/img/svg/bg-menu.svg');
  background-position: 0px -215px;
  background-color: #CCC;
  width: 100%;
  height: 275px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  // url("http://s3.amazonaws.com/saveoneverything_assets/images/1427920256-banner");
}

.search {
  height: 60px;
  background-color: white;
  border-bottom: 1px solid rgba(232, 232, 232, 1);
}

input.search-menu {
  margin: 0;
  border: none;
  border-style: hidden;
  border-bottom: 1px solid rgba(107, 173, 66, 1);
  outline: none;
  width: 332px;
  box-shadow: none;
  margin-left: 115px;
}

fieldset {
  margin: 0;
  padding: 10px;
  padding-bottom: 5px;
}

.search-div {
  padding-top: 10px;
  padding-bottom: 10px;
}

.body-container {
  max-width: 1048px;
  margin-top: 25px;
}

.menu-container {
  max-width: 690px;
  background-color: #CCC;
  max-height: 100%;
}

.order-container {
  max-width: 300px;
  background-color: #CCC;
  height: 800px;
}

li {
  list-style: none;
}

// .footer-container {
//   max-width: 100%;
//   height: 50px;
//   background-color: gray;
//   border: 2px solid blue;
// }
