<button class="js-toggle-create">+</button>

<div class="posts-create-container"></div>

<ul class="side-nav panel columns large-12">
{{#each this as |post|}}
  <li><a href="#posts/{{post._id}}">{{post.title}}</a></li>
{{/each}}
</ul>
