<div class="hero-header"></div>

<div class="search">
  <section class="search-div">
  <input class="search-menu" type="text" name="name" value="" placeholder="Search Menu Items">
  </section>
</div>

<div class="row">
  <div class="medium-6 columns menu-container"></div>
  <div class="medium-3 columns order-div"></div>
</div>
