<nav class="top-bar" data-topbar role="navigation">
  <section class="top-bar-section">
    <ul class="left">
      <li class="name">
        <a href="#posts">Posts Index</a>
      </li>
    </ul>
  </section>
</nav>
